@*Shared Project Using Statements, Models, etc would go here.
    This file differs from _ViewStart in that statements from _ViewStart
    are specifically scoped to the _ViewStart file and are not included
    in the actual view files. _ViewImports differs in this regard.

    Ex: @using HelloMVCWorld.Models or @using MyProject.Helpers*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ViewImports</title>
</head>
<body>
</body>
</html>
