
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_GreetingsLayout</title>
</head>
<body>
    <div>Hello, Layouted World!</div>
    
    @RenderBody()

    <p>Lots of Layout content goes here...</p>
    
    @RenderSection("Footer", required: false)

    @if(!IsSectionDefined("Footer"))
    {
        <span>Generic footer message!</span>
    }
</body>
</html>
