@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>@ViewData["ProductTitle"]</h1>
    Price: @ViewBag.ProductPrice
</body>
</html>
