
@{
    ViewData["Title"] = "Products List";
}

<h2>Products List</h2>


@section Footer
{
    <span>
        Hello from the <b>Products List!</b> page!
    </span>
}

<h2>Products List</h2>

